$header-height: 50px;
$main-content-top-padding: 0px;
$main-content-bg: #f2f3f5;
$bottom-menu-bg: rgba(0, 0, 0, 0);
$bottom-item-bg: rgba(255, 255, 255, 0.2);
$bottom-item-hover-bg: white;
$index-left-sidebar-bg: #1b1c1d;